PORT = 8000
mongoodb atlas password Salman@123
mongoodb atlas username:salmanadmin
mongoodb_URL=mongodb+srv://salmanadmin:your-password@cluster0.ura74wd.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET= salman-khan-backend
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend-salman-khan
REFRESH_TOKEN_EXPIRY=10d